.container{
  &__detail{
    display: block;
    margin-top: 3em;
    margin-bottom: 1em;
    padding: 2em 0 2em 0;
    background: #fff;
  }
}

.detail{
  &__cover{
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
  }
  &__text{
    padding: 1em 4em;
    line-height: 1.6em;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}