<section class="detail">
    <div class="container container__detail">
        <div class="detail__text">
            <h2>{{article?.data().title}}</h2>
        </div>
        <img
            class="detail__cover"
            src="{{article?.data().coverPath[0]}}"
            alt="{{article?.data().title}}"
            onError="this.src='assets/img/noimage.gif';"
        >
        <div class="detail__text">
            <div>{{article?.data().description}}</div>
        </div>

        <app-gallery *ngIf="article?.data().coverPath" [images]="article?.data().coverPath"></app-gallery>
    </div>
</section>
