@import './../../../variables.scss';

.menu{
  padding: 50px 10px 10px 10px;
  &__link{
    color: var(--link-light);
    opacity: 0.7;
    text-decoration: none;
    will-change: opacity;
    transition: opacity ease-out 0.2s;
    &:hover{
      opacity: 1;
    }
    &-active{
      color: var(--admin-font-active);
    }
  }
}