<aside class="menu">
  <ul>
    <li routerLinkActive="menu__item-active" [routerLinkActiveOptions]="{exact: true}" class="menu__item">
      <a
        class="menu__link"
        [routerLink]="['/admin']"
        routerLinkActive="menu__link-active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        Dashboard
        <mat-icon mat-list-icon class="icon material-icons">dashboard</mat-icon>
      </a>
    </li>
    <li routerLinkActive="menu__item-active" class="menu__item">
      <a
        class="menu__link"
        [routerLink]="['add']"
        routerLinkActive="menu__link-active"
      >
        Add article
        <mat-icon mat-list-icon class="icon material-icons">add_circle</mat-icon>
      </a>
    </li>
    <li routerLinkActive="menu__item-active" class="menu__item">
      <a
        class="menu__link"
        [routerLink]="['visual']"
        routerLinkActive="menu__link-active"
      >
        App UI
        <mat-icon mat-list-icon class="icon material-icons">view_compact</mat-icon>
      </a>
    </li>
  </ul>
</aside>
