<div class="content">
    <div class="container">
        <div class="content__main">
            <ul class="content__list">
                <li class="content__list-item" *ngFor="let article of articles; let i = index">
                    <mat-card class="example-card">
                        <a class="link__hidden" [routerLink]='[i]'>
                            <mat-card-title>
                                <h2>
                                    {{article.title}}
                                </h2>
                            </mat-card-title>
                            <mat-card-subtitle>subtitle</mat-card-subtitle>
                            <mat-card-content>
                                <p>
                                    {{article.description}}
                                </p>
                            </mat-card-content>
                            <img
                                mat-card-image
                                src="{{article.coverPath}}"
                                alt="Photo of a Shiba Inu"
                            >
                        </a> 
                        
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </li>
            </ul>
        </div>

        <app-sidebar></app-sidebar>
    </div>
</div>
