<div class="admin__drop">
  <div
    class="admin__drop-zone"
    appDragimages
    (hovered)="toggleHover($event)"
    (dropped)="onDrop($event)"
    [class.hovering]="isHovering"
  >
    <p class="admin__drop-title">Images upload</p>
    <p class="admin__drop-text">Drag images here</p>

    <div class="file">
      <label class="file-label">
        <input
          class="admin__drop-input"
          accept="image/*"
          type="file"
          (change)="onDrop($event.target.files)"
        />
        <div class="admin__drop-file">
          <mat-icon mat-list-icon class="icon material-icons"
            >add_photo_alternate</mat-icon
          >
          <span class="file-label">
            or browse image
          </span>
        </div>
      </label>
    </div>
  </div>

  <p class="uploader__title" *ngIf="files.length > 0">Progress</p>
  <div *ngIf="files.length > 0" class="admin__drop-progress">
    <div class="uploader" *ngFor="let file of files">
      <app-upload-progress [file]="file"></app-upload-progress>
    </div>
  </div>
</div>
