:host{
  margin: auto auto 0 auto;
  width: 100%;
}

footer{
  background: #424242;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.footer{
  &__year{
    font-size: 12px;
  }
}