
.admin{
  &__articles{
    background: #ffffff;
    padding: 1em;
    margin: 1em 1em 1em 0.5em;
    &-item{
      border-radius: 5px;
      padding: 0.2em 0.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-actions{
      display: flex;
      align-items: center;
    }
    &-title{
      font-family: Roboto;
      font-size: 24px;
      font-weight: 400;
    }
  }
  &__title{
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 38px;
    text-align: center;
  }
  
}