
.admin{
  &__articles{
    background: #ffffff;
    padding: 1em;
    margin: 1em 1em 1em 0.5em;
  }
  &__title{
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 38px;
    text-align: center;
  }
}