.admin {
  &__articles {
    background: #ffffff;
    padding: 1em;
    margin: 1em 1em 1em 0.5em;
    &-icon {
      color: #555555;
      cursor: pointer;
      transition: opacity ease-out 0.2s;
      &:hover {
        opacity: 0.5;
      }
    }
    &-item {
      border-radius: 5px;
      padding: 1em 0.5em;
      margin-bottom: 0.6em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: background ease-out 0.3s;
      &:hover {
        background: #f7f7f7;
      }
    }
    &-actions {
      display: flex;
      align-items: center;
    }
    &-list {
      margin: 1em;
    }
    &-title {
      font-family: Roboto;
      font-size: 24px;
      font-weight: 400;
      transition: opacity ease-out 0.2s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  &__title {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 38px;
    text-align: center;
  }
}
