<div id="gallery" [ngClass]="layout ? '' : 'gallery__two-columns'" class="gallery">
  <figure class="gallery__item gallery__item--1">
    <img src="assets/img/1.jpg" class="gallery__img" alt="Image 1">
  </figure>
  <figure class="gallery__item gallery__item--2">
    <img src="assets/img/2.jpg" class="gallery__img" alt="Image 2">
  </figure>
  <figure class="gallery__item gallery__item--3">
    <img src="assets/img/3.jpg" class="gallery__img" alt="Image 3">
  </figure>
  <figure class="gallery__item gallery__item--4">
    <img src="assets/img/4.jpg" class="gallery__img" alt="Image 4">
  </figure>
  <figure class="gallery__item gallery__item--5">
    <img src="assets/img/5.jpg" class="gallery__img" alt="Image 5">
  </figure>
  <figure class="gallery__item gallery__item--6">
    <img src="assets/img/6.jpg" class="gallery__img" alt="Image 6">
  </figure>
  <figure class="gallery__item gallery__item--7">
    <img src="assets/img/7.jpg" class="gallery__img" alt="Image 6">
  </figure>
  <figure class="gallery__item gallery__item--8">
    <img src="assets/img/8.jpg" class="gallery__img" alt="Image 6">
  </figure>
</div>

<div id="changer" (click)="layout = !layout" class="button">
  switch<br> layout
</div>