@import './../../../variables.scss';

.sidebar{
  &__right{
    max-width: 290px;
    width: 100%;
    position: sticky;
    top: 55px;
    margin-top: 15px;
    //height: calc(100vh - 55px);
    margin-bottom: 15px;
  }
  &__box{
    background: #fff;
    padding: 1em;
    //margin-top: 15px;
    margin-bottom: 15px;
    color: var(--text-grey-dark);
  }
}