<aside class="sidebar__right">
    <div class="sidebar__box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum maxime quaerat quisquam. Beatae architecto esse in incidunt. Alias suscipit veritatis at animi vitae sit delectus accusantium earum reprehenderit? Totam omnis ut fugit
    </div>
    <div class="sidebar__box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum maxime quaerat quisquam. Beatae architecto esse in incidunt. Alias suscipit veritatis at animi vitae sit delectus accusantium earum reprehenderit? Totam omnis ut fugit
    </div>
</aside>
