<div class="admin__post">
  <h1 class="admin__title">Add new article</h1>
  <form
    novalidate
    (ngSubmit)="onSubmit()"
    class="example-form"
    [formGroup]="postForm"
  >


    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Title"
        name="title"
        formControlName="title"
      >
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Preview text"
        name="previewText"
        formControlName="previewText"
      >
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <textarea
        matInput
        placeholder="Text content"
        name="description"
        formControlName="description"
      ></textarea>
    </mat-form-field>


    <!-- <mat-form-field>
      <mat-label>Select example</mat-label>
      <mat-select
        name="select"
        formControlName="select"
      >
        <mat-option
          *ngFor="let val of example"
          [value]="val.value"
        >
          {{val.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <!-- <mat-form-field> -->
      <app-uploader></app-uploader>
    <!-- </mat-form-field> -->


    <button
      mat-raised-button
      color="accent"
    >
      Submit
    </button>


  </form>
</div>
