@import './../../../variables.scss';

.header{
  &__wrapper{
    background: var(--base-color);
    &-admin{
      background: var(--admin-color);
    }
  }
  &__menu{
    padding: 10px 18px;
    &-navigation{
      display: flex;
    }
    &-item{
      margin-right: 10px;
      text-transform: uppercase;
      a{
        text-decoration: none;
        color: var(--header-font-main);
      }
    }
  }
}

.link{
  &__active{
    a{
      color: var(--header-font-active);
    }
  }
}