@import './../../../variables.scss';

.header{
  &__wrapper{
    background: var(--base-color);
    z-index: 9;
    &-admin{
      background: var(--admin-color);
    }
    &-home{
      background: rgba(255,255,255,0.8);
    }
  }
  &__menu{
    padding: 10px 18px;
    &-navigation{
      display: flex;
    }
    &-item{
      margin-right: 10px;
      text-transform: uppercase;
    }
  }
  &__link{
    text-decoration: none;
    color: var(--header-font-main);
    opacity: 0.5;
    font-weight: 700;
    font-size: 18px;
    transition: opacity ease-out 0.2s;
    will-change: opacity;
    &:hover{
      opacity: 1;
    }
    &-admin{
      color: var(--link-light);
    }
    &-active{
      color: var(--header-font-active);
    }
  }
}

