@import './../../../variables.scss';

.mat-drawer-container{
  background: transparent;
}

mat-sidenav{
  padding: 50px 10px 10px;
}

.container{
  &__admin{
    max-width: 100%;
    display: block;
  }
}

