<section class="dashboard">
    <div class="content">
        <mat-sidenav-container class="example-container">
            <mat-sidenav
                mode="side"
                fixedInViewport="true"
                opened
            >
                Sidenav content
            </mat-sidenav>
           
            <mat-sidenav-content>
                <div class="container container__admin">
                    <p>
                        dashboard works!
                    </p>
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <input
                                matInput
                                placeholder="Example input"
                                value="value"
                            >
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <textarea
                                matInput
                                placeholder="Example textarea"
                            ></textarea>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Select example</mat-label>
                            <mat-select>
                                <mat-option
                                    *ngFor="let val of example"
                                    [value]="val.value"
                                >
                                    {{val.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</section>
