.notify{
  background: #555;
  width: 200px;
  position: fixed;
  right: 10px;
  bottom: 0px;
  z-index: 999;
  display: none;
  &.error{
    background: red;
    display: block;
  }
  &.success{
    background: green;
    display: block;
  }
}