* {
  --base-color: #69DDFF;
  --admin-color: #282c2f;
  --admin-sidebar: #3e3e3e;
  --admin-font-active: #ff4d15;
  --admin-item-active: #007b98;
  --header-font-main: #1F2D3D;
  --header-font-active: #ff4d15;
  --text-grey-dark: #818181;
  --link-light: #ffffff;
}